.pxl-nav-menu {
	&.fr-style-default {
		.pxl-mega-menu {
			border-left: none;
			background-color: $link_color_hover;
		}
		/* First Level */
		.pxl-menu-primary > li {
			&.menu-item-has-children > a {
				.caseicon-angle-arrow-down {
					display: inline-flex;
					font-size: 8px;
					line-height: 1;
					margin-left: 5px;
					color: rgba(#000000, 0.5);
					@include transition(transform .25s cubic-bezier(.645,.045,.355,1));
				}
			}
			&:hover > a .caseicon-angle-arrow-down {
				@include transform(rotateX(-180deg));
				color: $link_color_hover;
			}
		}

	/* Sub Menu */
	.sub-menu {
		li.menu-item-has-children > a:after {
			content: "\f110";
			position: absolute;
			top: 50%;
			right: 10px;
			@include transform(translate(0, -50%));
			font-size: 10px;
			font-family: "Caseicon";
			font-weight: 400;
		}
	}

	&.show-effect-fade {
		.pxl-menu-primary .sub-menu {
			margin-top: 0;
		}
	}

	&.show-effect-dropdown {
		.pxl-menu-primary {
			.sub-menu {
				@include transform(scaleY(0));
				transform-origin: 0 0 0;
				-webkit-transform-origin: 0 0 0;
				-ms-transform-origin: 0 0 0;
				-o-transform-origin: 0 0 0;
				margin-top: 0;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				@include transform(scaleY(1));
			}
		}
	}

	&.show-effect-slidedown {
		.pxl-menu-primary {
			.sub-menu {
				margin-top: 0;
				transform: perspective(500px) rotateX(-20deg);
				transform-origin: 50% 0%;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				transform: perspective(500px) rotateX(0deg);
			}
		}
	}
}
	&.fr-style-box1 {
		.pxl-mega-menu {
			border-left: none;
			background-color: $link_color_hover;
		}
		/* First Level */
		.pxl-menu-primary > li {
			&.menu-item-has-children > a {
				.caseicon-angle-arrow-down {
					display: inline-flex;
					font-size: 8px;
					line-height: 1;
					margin-left: 5px;
					color: rgba(#fff, 0.75);
					@include transition(transform .25s cubic-bezier(.645,.045,.355,1));
				}
			}
			&:hover > a .caseicon-angle-arrow-down {
				@include transform(rotateX(-180deg));
			}
		}

	/* Sub Menu */
	.sub-menu {
		li.menu-item-has-children > a:after {
			content: "\f110";
			position: absolute;
			top: 50%;
			right: 10px;
			@include transform(translate(0, -50%));
			font-size: 10px;
			font-family: "Caseicon";
			font-weight: 400;
		}
	}

	&.show-effect-fade {
		.pxl-menu-primary .sub-menu {
			margin-top: 0;
		}
	}

	&.show-effect-dropdown {
		.pxl-menu-primary {
			.sub-menu {
				@include transform(scaleY(0));
				transform-origin: 0 0 0;
				-webkit-transform-origin: 0 0 0;
				-ms-transform-origin: 0 0 0;
				-o-transform-origin: 0 0 0;
				margin-top: 0;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				@include transform(scaleY(1));
			}
		}
	}

	&.show-effect-slidedown {
		.pxl-menu-primary {
			.sub-menu {
				margin-top: 0;
				transform: perspective(500px) rotateX(-20deg);
				transform-origin: 50% 0%;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				transform: perspective(500px) rotateX(0deg);
			}
		}
	}
}
}

.pxl-header-nav {
	.pxl-menu-primary {
		.pxl-mega-menu {
			border-left: none;
			background-color: $link_color_hover;
		}
		/* First Level */
		.pxl-menu-primary > li {
			&.menu-item-has-children > a {
				.caseicon-angle-arrow-down {
					display: inline-flex;
					font-size: 8px;
					line-height: 1;
					margin-left: 5px;
					color: rgba(#000000, 0.5);
					@include transition(transform .25s cubic-bezier(.645,.045,.355,1));
				}
			}
			&:hover > a .caseicon-angle-arrow-down {
				@include transform(rotateX(-180deg));
				color: $link_color_hover;
			}
		}

	/* Sub Menu */
	.sub-menu {
		li.menu-item-has-children > a:after {
			content: "\f110";
			position: absolute;
			top: 50%;
			right: 10px;
			@include transform(translate(0, -50%));
			font-size: 10px;
			font-family: "Caseicon";
			font-weight: 400;
		}
	}

	&.show-effect-fade {
		.pxl-menu-primary .sub-menu {
			margin-top: 0;
		}
	}

	&.show-effect-dropdown {
		.pxl-menu-primary {
			.sub-menu {
				@include transform(scaleY(0));
				transform-origin: 0 0 0;
				-webkit-transform-origin: 0 0 0;
				-ms-transform-origin: 0 0 0;
				-o-transform-origin: 0 0 0;
				margin-top: 0;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				@include transform(scaleY(1));
			}
		}
	}

	&.show-effect-slidedown {
		.pxl-menu-primary {
			.sub-menu {
				margin-top: 0;
				transform: perspective(500px) rotateX(-20deg);
				transform-origin: 50% 0%;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				transform: perspective(500px) rotateX(0deg);
			}
		}
	}
}
	&.fr-style-box1 {
		.pxl-mega-menu {
			border-left: none;
			background-color: $link_color_hover;
		}
		/* First Level */
		.pxl-menu-primary > li {
			&.menu-item-has-children > a {
				.caseicon-angle-arrow-down {
					display: inline-flex;
					font-size: 8px;
					line-height: 1;
					margin-left: 5px;
					color: rgba(#fff, 0.75);
					@include transition(transform .25s cubic-bezier(.645,.045,.355,1));
				}
			}
			&:hover > a .caseicon-angle-arrow-down {
				@include transform(rotateX(-180deg));
			}
		}

	/* Sub Menu */
	.sub-menu {
		li.menu-item-has-children > a:after {
			content: "\f110";
			position: absolute;
			top: 50%;
			right: 10px;
			@include transform(translate(0, -50%));
			font-size: 10px;
			font-family: "Caseicon";
			font-weight: 400;
		}
	}

	&.show-effect-fade {
		.pxl-menu-primary .sub-menu {
			margin-top: 0;
		}
	}

	&.show-effect-dropdown {
		.pxl-menu-primary {
			.sub-menu {
				@include transform(scaleY(0));
				transform-origin: 0 0 0;
				-webkit-transform-origin: 0 0 0;
				-ms-transform-origin: 0 0 0;
				-o-transform-origin: 0 0 0;
				margin-top: 0;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				@include transform(scaleY(1));
			}
		}
	}

	&.show-effect-slidedown {
		.pxl-menu-primary {
			.sub-menu {
				margin-top: 0;
				transform: perspective(500px) rotateX(-20deg);
				transform-origin: 50% 0%;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				transform: perspective(500px) rotateX(0deg);
			}
		}
	}
}
}