//pxl-pricing-flip//
.pxl-pricing--feature {
    &.active-feature1 {
        li {
            &:nth-child(1) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(2) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
            &:nth-child(3) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
            &:nth-child(4) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
            &:nth-child(5) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
            &:nth-child(6) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
        }
    }
    &.active-feature2 {
        li {
            &:nth-child(1) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(2) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(3) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
            &:nth-child(4) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
            &:nth-child(5) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
            &:nth-child(6) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
        }
    }
    &.active-feature3 {
        li {
            &:nth-child(1) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(2) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(3) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(4) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
            &:nth-child(5) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
            &:nth-child(6) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
        }
    }
    &.active-feature4 {
        li {
            &:nth-child(1) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(2) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(3) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(4) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(5) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
            &:nth-child(6) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
        }
    }
    &.active-feature5 {
        li {
            &:nth-child(1) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(2) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(3) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(4) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(5) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: block;
                    }
                    &.pxl-icon-no-check {
                        display: none;
                    }
                }
            }
            &:nth-child(6) {
                .pxl-icon {
                    &.pxl-icon-check {
                        display: none;
                    }
                    &.pxl-icon-no-check {
                        display: block;
                    }
                }
            }
        }
    }
    &.active-feature6 {
        li {
            .pxl-icon {
                &.pxl-icon-check {
                    display: block;
                }
                &.pxl-icon-no-check {
                    display: none;
                }
            }
        }
    }
    &.style-no-active {
        li {
            .pxl-icon {
                &.pxl-icon-check {
                    display: none;
                }
                &.pxl-icon-no-check {
                    display: block;
                }
            }
        }
    }
}
.pxl-pricing-flip1 {
    .pxl-pricing-inner {
        position: relative;
        width: 880px;
        height: 630px;
        perspective: 150px;
        cursor: pointer;
        @media (max-width: 1366px) {
            width: 100%;
        }
        @media (max-width: 1280px) {
            height: 595px;
        }
        @media (max-width: 575px) {
            height: 550px;
        }
        .pxl-item {
            position: absolute;
            width: 100%;
            height: 508px;
            left: 120px;
            top: 0;
            background-color: #D5D5D5;
            z-index: 1;
            @media (max-width: 1366px) {
                left: 0;
            }
            @media (max-width: 1280px) {
                height: 475px;
            }
            @media (max-width: 575px) {
                height: 430px;
            }
            .pxl-no-active {
                position: absolute;
                left: 41px;
                top: 13px;
                opacity: 1;
                @include transition(all 500ms linear 0ms);
                @media (max-width: 1280px) {
                    top: 9px;
                    left: 30px;
                }
                .pxl-item-title {
                    color: #999;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 1.2;
                    @media (max-width: 1280px) {
                        font-size: 15px;
                    }
                }
            }
            .pxl-item-content {
                opacity: 0;
                display: flex;
                flex-direction: row;
                gap: 90px;
                padding: 64px 50px 30px 50px;
                @include transition(all 500ms linear 0ms);
                @media (max-width: 1280px) {
                    gap: 30px;
                    justify-content: space-between;
                    padding: 50px 30px 50px 30px;
                }
                @media (max-width: 575px) {
                    flex-wrap: wrap;
                }
                .pxl-item-left {
                    width: 38.4%;
                    @media (max-width: 575px) {
                        width: 100%;
                    }
                    .pxl-item-title {
                        font-size: 24px;
                        color: #fff;
                        font-weight: 600;
                        line-height: 1.2;
                        border-bottom: 1px solid #fff;
                        padding-bottom: 8px;
                        margin-bottom: 59px;
                        @media (max-width: 575px) {
                            margin-bottom: 25px;
                        }
                    }
                    .pxl-pricing--price {
                        font-size: 72px;
                        color: #fff;
                        font-weight: 300;
                        @extend .ft-heading;
                        line-height: 1;
                        display: flex;
                        margin-bottom: 33px;
                        .pxl-item-suffix, .pxl-item-prefix {
                            font-size: 42px;
                        }
                        @media (max-width: 767px) {
                            font-size: 50px;
                        }
                    }
                    .pxl-item-desc {
                        font-size: 15px;
                        color: #777;
                        margin-bottom: 42px;
                    }
                    .pxl-item--btn {
                        .btn {
                            background-color: #fff;
                            color: $link_color;
                            display: flex;
                            svg {
                                path {
                                    stroke: $link_color;
                                }
                            }
                        }
                    }
                }
                .pxl-item-right {
                    width: 50%;
                    padding-top: 5px;
                    @media (max-width: 575px) {
                        width: 100%;
                        display: none;
                    }
                    .pxl-title-feature {
                        color: #999;
                        font-size: 15px;
                        font-weight: 500;
                        border-bottom: 1px solid #fff;
                        padding-bottom: 7px;
                        margin-bottom: 46px;
                    }
                    .pxl-pricing--feature {
                        margin-bottom: 0;
                        li {
                            list-style: none;
                            color: #fff;
                            font-size: 17px;
                            font-weight: 500;
                            @extend .ft-heading;
                            text-transform: capitalize;
                            line-height: 1.2;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-direction: row;
                            gap: 20px;
                            border-bottom: 1px solid #333;
                            padding-bottom: 14px;
                            margin-bottom: 17px;
                            &:last-child {
                                border-bottom: none;
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }
                            .pxl-icon {
                                &.pxl-icon-check {
                                    svg {
                                        path {
                                            stroke: #fff;
                                        }
                                    }
                                }
                                &.pxl-icon-no-check {
                                    svg {
                                        path {
                                            stroke: #777;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(2) {
                left: 80px;
                top: 40px;
                background-color: #999;
                .pxl-no-active {
                    .pxl-item-title {
                        color: #777;
                    }
                }
                @media (max-width: 1366px) {
                    left: 0;
                }
            }
            &:nth-child(3) {
                left: 40px;
                top: 80px;
                background-color: #777;
                .pxl-no-active {
                    .pxl-item-title {
                        color: #555;
                    }
                }
                @media (max-width: 1366px) {
                    left: 0;
                }
            }
            &:nth-child(4) {
                left: 0;
                top: 120px;
                background-color: $link_color;
                .pxl-no-active {
                    .pxl-item-title {
                        opacity: 0;
                    }
                }
                .pxl-item-content {
                    opacity: 1;
                }
            }
        }
    }
}
//end//
body.rtl {
	
}