/*--------------------------------------------------------------
TESTIMONIALS GRID
----------------------------------------------------------------
# Testimonial Grid
# Testimonial Carousel
--------------------------------------------------------------*/
.pxl-item--4-star i:nth-child(5) {
    color: lightgray;
}
.pxl-item--3-star {
    i:nth-child(5), i:nth-child(4) {
        color: lightgray;
    }
}
.pxl-item--2-star {
    i:nth-child(5), i:nth-child(4), i:nth-child(3) {
        color: lightgray;
    }
}
.pxl-item--1-star {
    i:nth-child(5), i:nth-child(4), i:nth-child(3), i:nth-child(2) {
        color: lightgray;
    }
}
.pxl-item--star {
    color: #F2B827;
    font-size: 14px;
}
// Testimonial Grid
.pxl-testimonial-grid1 {
	.pxl-item--inner {
		background-color: #f8f9fa;
		@include border-radius(20px);
		padding: 38px 40px 45px 40px;
		@media (max-width: 1200px) {
			padding: 35px 20px;
		}
		.pxl-item--star {
			margin-bottom: 0.5rem;
		}
		.pxl-item--desc {
			margin-bottom: 20px;
		}
		.pxl-item-content {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 20px;
			@media (max-width: 1024px) {
				gap: 15px;
			}
			.pxl-item--image {
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 40px;
				height: 40px;
				width: 40px;
				@include border-radius(50%);
				overflow: hidden;
			}
			.pxl-item--holder {
				.pxl-item--title {
					margin-bottom: 7px;
					font-size: 16px;
					line-height: 1;
				}
				.pxl-item--position {
					font-size: 14px;
					line-height: 1.2;
				}
			}
		}
	}
}

// Testimonial Carousel
.pxl-swiper-arrow-wrap {
	&.style-5 {
		.pxl-swiper-arrow {
			width: 55px;
			height: 55px;
			display: flex;
			border: 1px solid #999;
			background-color: transparent;
			border-radius: 50%;
			align-items: center;
			justify-content: center;
			font-size: 25px;
			margin: 5px;
			@include transition(all 0.3s);
			svg {
				@include transition(all 0.3s);
				path {
					stroke: #999;
					@include transition(all 0.3s);
				}
			}
			&:hover {
				border-color: $link_color;
				svg {
					path {
						stroke: $link_color;
					}
				}
			}
		}
	}
}
.pxl-testimonial-carousel1 {
	.pxl-item--inner {
		.pxl-icon {
			font-size: 40px;
			color: $primary_color;
			line-height: 1;
			margin-bottom: 10px;
		}
		.pxl-item--desc {
			font-size: 32px;
			margin-bottom: 1.5rem;
		}
		.pxl-item--title {

		}
	}
}

.pxl-testimonial-carousel2 {
	.pxl-swiper-container {
		margin: 0 -12px;
	}
	.pxl-swiper-slide {
		padding: 0 12px;
	}
	.pxl-item--inner {
		background: linear-gradient(180deg, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
		padding: 1.5rem 40px;
		@include border-radius(20px);
		position: relative;
		text-align: center;
		@media (max-width: 1024px) {
			padding: 1.5rem 20px;
		}
		.pxl-icon {
			font-size: 32px;
			color: $primary_color;
			line-height: 1;
			position: absolute;
			top: 37px;
			left: 37px;
		}
		.pxl-item--image {
			display: inline-flex;
			@include border-radius(50%);
			overflow: hidden;
		}
		.pxl-item--title {
			color: $link_color;
			font-weight: bold;
			margin-top: 20px;
			display: block;
			text-align: center;
			font-style: normal;
			font-size: 15px;
			line-height: 1.5em;
		}
		.pxl-item--position {
			display: block;
			font-weight: 400;
			font-size: 15px;
			opacity: .5;
			color: $link_color;
		}
		.pxl-item--desc {
			opacity: .6;
			color: $link_color;
			margin-top: 1.5rem;
		}
	}
}
// Testimonial Single

//RTL
body.rtl {
    
}